body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

div {
  display: block;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #006fc2;
  text-decoration: none;
  font-weight: bold;
}

div a {
  text-decoration: none;
}

div a:hover {
  color: #872378;
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.header img {
  width: 100px;
  height: 100px;
}

.header nav{
  position: relative;
}

.header_text {
  position: relative;
  padding: 5px;
  margin: 0px;
  font-size: 40px;
  width: 50%;
}

.inline {
  display: inline;
  color: white;
}

.no_bullets {
  list-style-type: none;
}

.right {
  vertical-align: right;
  text-align: right;
}

.left {
  vertical-align: left;
  text-align: left;
}

.centered {
  vertical-align: center;
  text-align: center;
}

.small_list_buffer {
  margin-left: 4px;
  margin-right: 4px;

}

.header_back {
  background-color: #3487f7;
}

.footer_back {
  background-color: #FFD744;
}

.enlarge {
  padding: 2em;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-variant: bolder;
}

.bigger_text {
  font-size: 1.5em;
}

.smaller_text {
  font-size: .75em;
}

.clear {
  clear: left;
}

.clear_right {
  clear: right;
}

.top {
  top: 2px;
}

.bottom {
  position: absolute;
  bottom: 2px;
}

.float {
  position: fixed;
  float:left;
}

.fixed {
  position: fixed;
}

.bottom_border {
  border-bottom: solid 1em #FFD744;
}

.buffer {
  margin-bottom: 5px;
}

.bottom_buffer {
  margin-bottom: 100px;
}
