<h1 class="bold centered">Player Statistics</h1>

<div class="bottom_buffer">
  <ol>
    <li class="bold bigger_text">
      <%=@user.username%>
    </li>
    <% @user.rounds.each do |round| %>
      <li>
        You scored a total of <%= round.points %> points on <%= round.created_at.strftime("%B %d, %Y") %> at <%= round.created_at.strftime("%I:%M%p") %>.
      </li>
    <% end %>
  </ol>
</div>
