<h1 class="bold centered">YOUR STATS</h1>

<div class="bottom_buffer">
  <ol>
    <li class="bold bigger_text">
      <%=@user.username%>
    </li>
    <% @user.rounds.each do |round| %>
      <li>
        On <%= round.points %> you scored <%= round.points %> points!
      </li>
    <% end %>
  </ol>
</div>