<div class="clear">
  <h2 class="centered">Choose A Deck</h2>
</div>

<div class="clear">
  <table class = "bottom_buffer">
    <% @decks.each do |deck| %>
      <tr class="pad_left">
      <td>
        <span class="clear centered buffer"><a href="/rounds/<%= deck.id  %>"><%= deck.name %></a></span>
        <img class="buffer" src=<%= deck.image_url %> alt="deck pic" height="169" width="300" align="left"/>
      </td>
      </tr>
    <% end %>
  </table>
</div>