<div class="clear">
  <h2 class="centered">Choose A Deck</h2>
</div>

<div class="clear">
  <table>
    <% @decks.each do |deck| %>
      <tr>
      <td>  
        <img class="centered" src="" alt="deck pic" height="40" width="40"/>
        <span class="clear centered"><a href="/rounds/<%= deck.id  %>"><%= deck.name %></a></span>
      </td>
      </tr>
    <% end %>
  </table>
</div>