<div class="clear">
  <h2 class="centered">Choose A Deck</h2>
</div>

<div class="clear">
  <table class = "bottom_buffer">
    <% @decks.each do |deck| %>
      <tr>
      <td>
        <span class="clear centered buffer"><a href="/rounds/<%= deck.id  %>"><%= deck.name %></a></span>
        <img class="buffer" src="images/checkmark.gif" alt="deck pic" height="150" width="300" align="left"/>
      </td>
      </tr>
    <% end %>
  </table>
</div>